body {
    margin: 0;
}

li {
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.nav-area ul {
    display: flex;
    gap: 15px;
    /* justify-content: space-between; */
}

.nav-area {
    display: flex;
}